@import url(variables.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "default";
    color: white;
}

body {
    background-color: var(--color-black);
    width: 100%;
    height: 100svh;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    background: transparent;
    border-radius: 20px;
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: var(--color-green);
    border-radius: 10px;
}

main {
    width: 100%;
    height: 100svh;
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    grid-gap: 8px;
    padding: 8px;
}

.container {
    background-color: var(--color-container);
    border-radius: var(--value-container-radius);
    padding: 24px;
    position: relative;
}

current-track-frame {
    position: absolute;
    width: calc(100% - 48px);
    top: 30%;
}

.containerTitle {
    font-size: 40px;
    font-family: 'bold';
}

.containerTitle {
    font-size: 30px;
    font-family: 'bold';
}

.containerTitle2 {
    font-size: 25px;
    font-family: 'bold';
}

#blankSpace {
    height: 4.5%;
}

.albumContainer {
    margin-top: 40px;
    display: grid;
    grid-auto-rows: 150px;
    height: 770px;
    grid-gap: 10px;
    overflow: hidden;
    overflow-y: scroll;
    margin-bottom: 0px
}

.tracksContainer {
    margin-top: 40px;
    display: grid;
    grid-auto-rows: 150px;
    height: 810px;
    grid-gap: 10px;
    overflow: hidden;
    overflow-y: scroll;
}

.mobileMenu {
    display: none;
    height: 65px;
    width: 100svw;
    background-color: var(--color-black);
    position: absolute;
    bottom: 0;
}

.mobileMenu button {
    font-size:35px;
    background-color: transparent;
    border: none;

}

@media (width <= 900px) {
    main {
        grid-gap: 0px;
        padding: 0px;
        width: 100vw;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
    }

    main::-webkit-scrollbar {
        background: transparent;
    }
    
    main::-webkit-scrollbar-thumb {
        background: transparent;
    }

    .mobileMenu {

        display: flex;
        justify-content: space-around;

    }
    .container {
        width: 100vw;
        border-radius: 0px;
        scroll-snap-align: center;
        height: calc(100svh - 65px);
        overflow-y: hidden;
    }
    html {
        overflow: hidden;
    }

    .albumContainer {
        height: calc(100svh - 240px);
    }

    .tracksContainer {
        height: 78svh;
    }
}